<style>
	.bar {
		fill: #a5c0ff;
	}
</style>

<h1>EuroHappy#index</h1>
<p>Find me in app/views/euro_happy/index.html.erb</p>

<div id="dataChart">
</div>

<%= @data %>
<br>

<script>
	var data = "<%= @data %>";
	var sep_data = data.split('], [');


	console.log("data: " + data);
	for(var i=0; i<sep_data.length; i++){
		sep_data[i] = sep_data[i].replace("&quot;","");
		sep_data[i] = sep_data[i].replace("&quot;","");
		sep_data[i] = sep_data[i].replace("&quot;","");
		sep_data[i] = sep_data[i].replace("&quot;","");
		sep_data[i] = sep_data[i].replace("&quot;","");
		sep_data[i] = sep_data[i].replace("&quot;","");
		sep_data[i] = sep_data[i].replace("&quot;","");
		sep_data[i] = sep_data[i].replace("&quot;","");

		sep_data[i] = sep_data[i].split(', ');
		console.log("sep_data["+i+"]: " + sep_data[i]);
		console.log("sep_data["+i+"][0]: " + sep_data[i][0]);
		console.log("sep_data["+i+"][1]: " + sep_data[i][1]);
		console.log("sep_data["+i+"][2]: " + sep_data[i][2]);
		console.log("sep_data["+i+"][3]: " + sep_data[i][3]);
	}

	var svg = d3.select("#dataChart").append("svg")
			.attr("height", 500)
			.attr("width", 500);

	svg.selectAll("rect")
		.data(sep_data)
		.enter().append("rect")
			.attr("class", "bar")
			.attr("height", function(d, i){return (d[3]*5)})
			.attr("width", "7")
			.attr("x", function(d, i){return (i * 10);})
			.attr("y", function(d, i){return 300-(d[3])})
			.attr("stroke", "black")
			.attr("stroke-width", "0.5");

</script>
